.home-prestations {
   width: 100%;
   background-color: #fff;
   padding: 0 2rem;
   margin-top: 2rem;
}

.home-prestations h2 {
   line-height: 1;
   margin: 1em 0;
   font-size: var(--font-size-h2-hp);
   color: var(--color-secondary);
}

.home-prestations__list {
   display: grid;
   gap: 2rem;
}

.home-prestations__card {
   position: relative;
   text-decoration: none;
   color: inherit;
}

.home-prestations__image {
   display: block;
   width: auto;
   height: auto;
}

.home-prestations__caption {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background: rgba(0, 0, 0, 0.5);
   padding: 1rem;
   box-sizing: border-box;
}

.home-prestations__card h3 {
   margin: 0;
   color: #fff;
   align-items: center;
   font-size: clamp(1rem, 0.801rem + 0.99vw, 1.438rem);
}

.home-prestations__caption {
   background: rgba(0, 0, 0, 0.5);
   transition: background-color 0.3s ease;
}

.home-prestations__card:hover .home-prestations__caption,
.home-prestations__card:focus-within .home-prestations__caption {
   background: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 800px) {
   .home-prestations {
      width: 800px;
      padding: 0;
   }
}

@media screen and (min-width: 1024px) {
   .home-prestations h2 {
      font-size: clamp(1.875rem, 1.26rem + 0.96vw, 2.125rem);
   }
   .home-prestations__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
   }
   .home-prestations__card {
      max-width: 49%;
      flex: 1 1 300px;
   }
   .home-prestations__card h3 {
      font-size: 18px;
   }
}

@media screen and (min-width: 1440px) {
   .home-prestations {
      margin-top: 5rem;
   }

   .home-prestations__list {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
   }

   .home-prestations__card h3 {
      display: flex;
      justify-content: center;
      height: 4.5rem;
      margin: 0;
   }

   .home-prestations__image {
      margin: 0;
   }
   .section-video video {
      max-width: 1024px;
   }
   .home-prestations__caption {
      padding: 0;
   }
   .home-prestations__caption h3 {
      font-size: 21px;
   }
}
