.card_hp img {
   max-width: 100%;
   height: auto;
   margin: 1em 0 0.5em 0;
   background-size: cover;
   background-position: center;
}

.card_hp a {
   text-decoration: none;
}

.card_hp h3 {
   color: var(--color-tertiary);
   font-size: clamp(18px, 2vw + 1px, 23px);
   margin-top: 1em;
}

@media screen and (min-width: 1440px) {
   .card_hp {
      width: 47%;
   }

   .card_hp h3 {
    display: flex;
    justify-content: center;
      height: 4.5rem;
      margin: 0;
   }

   .card_hp img {
      margin: 0;
   }
}
