.section-presentation {
   display: flex;
   justify-content: center;
   width: 100%;
}

main .presentation_hp,
main .presentation_massages,
main .presentation_soins,
main .presentation_formule,
main .presentation_cadeau {
   width: 100%;
   aspect-ratio: 4 / 3;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

main .presentation_hp,
main .presentation_massages,
main .presentation_soins,
main .presentation_formule {
   background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/src/assets/close-up-of-young-beautiful-spa-salon.jpg);
   margin-bottom: 2rem;
}

main .presentation_massages {
   background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/src/assets/Zen-stones-candles-and-flowers-on-the-background-of-woman-receiving-treatment.jpg);
}

main .presentation_soins {
   background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/src/assets/reiki-master-working-with-patient.jpg);
}

main .presentation_formule {
   background-image:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(/src/assets/Formule-detente-profonde.jpeg);
}

main .presentation_cadeau {
   background-image: url(/src/assets/Carte_Cadeau_face_1.jpg);
}

main .presentation_contact {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
   background-color: var(--color-tertiary);
}

main .presentation-title {
   width: 100%;
   position: absolute;
   top: 31%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;
   text-align: center;
}

main .presentation div h1 {
   font-size: clamp(1.6rem, 5vw, 2.5rem);
}

main .presentation_contact h1 {
   background-color: var(--color-tertiary);
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
   main .presentation_hp,
   main .presentation_massages,
   main .presentation_soins,
   main .presentation_formule,
   main .presentation_cadeau {
      width: 800px;
   }
}

@media screen and (min-width: 1440px) {
   main .presentation-title {
      top: 45%;
   }
}
