.section-presentation {
   position: relative;
   margin-bottom: 2rem;
}

.presentation-img {
   display: flex;
   align-items: center;
   justify-content: center;
   max-height: 400px;
   filter: brightness(0.5);
   overflow: hidden;
}

.presentation-img img {
   width: 100%;
   max-width: 800px;
   object-fit: cover;
}

.section-presentation h1.text-overlay {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   /* font-size: clamp(1.563rem, 1.295rem + 1.34vw, 2.5rem); */
   font-size: 35px;
   color: #fff;
   font-weight: normal;
}

.cadeau .presentation-img {
   margin-top: 1rem;
   max-height: none;
   filter: none;
}

.cadeau .presentation-img  {
   overflow: visible;
}

.cadeau .presentation-img img {
   width: 80%;
   max-width: 600px;
}

@media (max-width: 600px) {
   .cadeau .section-presentation {
      width: 100%;
   }
}
