**/.env*

# Ignorer les node_modules des deux côtés
backend/node_modules/
frontend/node_modules/

# Ignorer les fichiers de build
build/

# Ignorer les logs
*.log

# Test
coverage/
*.snap

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les dossiers d'éditeur
.vscode/
.idea/

**/.structure.txt
node_modules
