.button {
    display: flex;
    justify-content: flex-end;
}

.button button {
    width: 130px;
    height: 40px;
    opacity: .6;
    background-color: #172D44;
    color: #fff;
    border-radius: 8px;
    border: 0;
}