.opinions {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 1280px;
   margin-bottom: 2rem;
}

.opinions-slider {
   width: 100%;
   max-width: 1280px;
   margin-top: 1rem;
}

.opinions h2 {
   margin-top: 1em;
   font-size: 32px;
   color: var(--color-secondary);
}

.opinion-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #fff;
   padding: 2rem 4rem;
   box-sizing: border-box;
   width: 100%;
}

.opinion_stars_date {
   display: flex;
   justify-content: center;
   align-items: center;
}

.opinion_stars {
   display: flex;
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.opinion_stars li {
   margin-right: 16px;
}

.opinion_stars li svg {
   width: 16px;
}

.opinion_date {
   font-style: italic;
   color: var(--color-secondary);
}

.opinion_name {
   display: flex;
   margin: 1em 0;
   color: var(--color-secondary);
}

.opinion_text {
   color: var(--color-secondary);
}

.swiper-button-prev,
.swiper-button-next {
   color: var(--color-primary);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: 0;
}

span.swiper-pagination-bullet-active {
   background-color: var(--color-primary);
}

.picto-arrow-fill {
   fill: #555;
}

.picto-arrow-fill:hover {
   fill: #949191;
}

@media screen and (min-width: 1440px) {
   .opinions-slider {
      width: 90%;
   }

   .opinion-card {
      padding: 2rem 3rem;
   }
}
