.opinions {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 800px;
   margin: 2rem 0 2rem 0;
}

.opinions-slider {
   width: 100%;
   max-width: 1280px;
   margin-top: 1rem;
}

.opinions h2 {
   margin-top: 1em;
   font-size: var(--font-size-h2-hp);
   color: var(--color-secondary);
}

.opinion-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #fff;
   padding: 2rem 4rem;
   box-sizing: border-box;
   width: 100%;
}

.opinion-stars {
   display: flex;
   gap: 1rem;
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.opinion-stars li svg {
   min-width: 18px;
   width: 100%;
   max-width: 20px;
}

.opinion-name,
.opinion-text {
   color: var(--color-secondary);
   font-size: var(clamp(1rem, 0.946rem + 0.27vw, 1.188rem));
}

.opinion-name {
   display: flex;
   margin: 1em 0;
}

.swiper-button-prev,
.swiper-button-next {
   color: var(--color-primary);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
   bottom: 0;
}

span.swiper-pagination-bullet-active {
   background-color: var(--color-primary);
}

.picto-arrow-fill {
   fill: #555;
}

.picto-arrow-fill:hover {
   fill: #949191;
}

@media screen and (min-width: 1440px) {
   .opinions-slider {
      width: 90%;
   }

   .opinion-card {
      padding: 2rem 3rem;
   }
}
