.section-prestations {
   display: flex;
   flex-wrap: wrap;
   min-width: var(--min-width-resolution);
   width: 100%;
   max-width: 800px;
   margin-top: 3rem;
   padding: 0 2rem;
}

.prestations-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   margin-bottom: 3rem;
}

.prestation-card {
   display: flex;
   flex-direction: column;
   margin-bottom: 3rem;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   -webkit-box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
   box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
}

.prestation-card img {
   order: 1;
   width: 100%;
   object-fit: cover;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.prestation-content {
   order: 3;
   position: relative;
   display: flex;
   flex-direction: column;
   padding: 0 1.5rem;
   text-align: left;
}

.prestation-title {
   order: 2;
   margin: 1rem 0;
   padding: 0 1rem;
}

.prestation-title h2,
.prestation-content p,
.prestation-content span {
   color: var(--color-secondary);
}

.prestation-title h2 {
   margin: 1rem 0;
   line-height: 1;
   font-size: 28px;
   font-weight: bold;
}

.prestation-text,
.prestation-content p {
   text-align: justify;
}

.prestation-content p {
   line-height: 1.7;
}

.prestation-price {
   display: block;
   text-align: right;
   font-weight: bold;
   margin: 1rem 0 1rem 0;
}

.prestation-content p,
.prestation-content span {
   font-size: 17px;
}

.prestation-content .MuiCollapse-wrapperInner {
   display: flex;
   flex-direction: column;
}

.prestation-text {
   display: block;
   overflow: hidden;
   text-overflow: ellipsis;
}

.prestation-text ul {
   list-style-type: disc;
   padding: 1rem 0 0 1.2rem;
   margin-left: 0;
}

.prestation-text li::marker {
   padding-left: 1rem;
}

.separator {
   display: none;
}

.accordion-content {
   overflow: hidden;
}

.collapsesize {
   min-height: 100px;
   overflow: hidden;
}

.collapse-arrow-box {
   text-align: center;
   /* background-color: red; */
}

.icon-KeyboardArrowDownIcon {
   cursor: pointer;
   transition: transform 0.5s ease !important;
}

.icon-KeyboardArrowDownIcon.rotated {
   transform: rotate(-180deg);
}

.image-loader {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 10;
}

.prestation-img {
   order: 1;
}

@media screen and (min-width: 800px) {
   .prestations-list {
      gap: 0;
      margin-bottom: 2rem;
   }

   .prestation-card {
      display: flex;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin: 0;
   }

   .prestation-img {
      order: 2;
      display: flex;
      align-items: flex-start;
      width: 300px;
   }

   .prestation-content {
      order: 3;
      display: flex;
      justify-content: flex-start;
      width: 430px;
      padding: 0 0 0 2rem;
      text-align: left;
   }

   .prestation-card img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      -webkit-box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
      box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
      /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4); */
   }

   .prestation-title {
      order: 2;
      width: 100%;
      padding: 0;
   }

   .prestation-title h2 {
      margin: 0 0 1rem 0;
      text-align: right;
   }

   .reverse .prestation-title h2 {
      text-align: left;
   }

   .reverse .prestation-text {
      text-align: left;
   }

   .prestation-card.reverse {
      flex-direction: row-reverse;
   }

   .reverse .prestation-content {
      padding: 0 2rem 0 0;
   }

   .prestation-price {
      margin: 1rem 0 0 0;
   }

   .reverse .prestation-price {
      text-align: left;
   }

   .separator {
      display: inline-block;
      width: 100%;
      border-top: 1px dashed #949494;
      margin: 3rem 0;
   }
}
