.section-prestations {
   display: flex;
   flex-wrap: wrap;
   min-width: var(--min-width-resolution);
   width: 100%;
   max-width: 1024px;
   padding: 0 1rem;
}

.section-prestations__list {
   display: flex;
   flex-direction: column;
   gap: 3rem;
   margin-bottom: 3rem;
}

.section-prestations__card {
   display: flex;
   flex-direction: column;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   -webkit-box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
   box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
}

.section-prestations__img {
}

.section-prestations__card img {
   width: 100%;
   aspect-ratio: 4 / 3;
   object-fit: cover;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.section-prestations__content {
   display: flex;
   flex-direction: column;
   padding: 0 1.3rem;
}

.section-prestations__content h3,
.section-prestations__content p,
.section-prestations__content span {
   color: var(--color-secondary);
}

.section-prestations__content h3 {
   margin: 1rem 0;
   font-size: var(--font-size-h3);
   font-weight: bold;
}

.section-prestations__content p {
   text-align: left;
   line-height: 2;
}

.section-prestations__content span {
   text-align: right;
   font-weight: bold;
   margin: 2rem 0;
}

.section-prestations__content p,
.section-prestations__content span {
   font-size: clamp(1rem, 1.2vw, 1.5rem);
}

.separator {
   display: none;
}

@media screen and (min-width: 480px) {
   .section-prestations {
      padding: 0 2rem;
   }
}

@media screen and (min-width: 800px) {
   .section-prestations__content {
      flex: 0 0 45%;
      justify-content: space-between;
      padding: 0 0 0 2rem;
   }

   .section-prestations__list {
      gap: 1rem;
      margin-bottom: 2rem;
   }

   .section-prestations__card {
      flex-direction: row;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   .section-prestations__img {
      flex: 0 0 55%;
   }

   .section-prestations__card img {
      border-radius: 30px;
      -webkit-box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
      box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
      /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4); */
   }

   .section-prestations__content h3 {
      margin:  0 0 1rem 0;
      text-align: left;
   }

   .section-prestations__content span {
      margin: 0;
   }

   .section-prestations__card.reverse {
      flex-direction: row-reverse;
   }

   .reverse .section-prestations__content{
      padding: 0 2rem 0 0;
   }

   .separator {
      display: inline-block;
      border-top: 1px dashed #949494;
      margin: 2rem 0;
   }
}
