.section-prestations {
   width: 100%;
   max-width: 800px;
   padding: 0 1rem;
}

.section-prestations__list {
   display: grid;
   justify-items: center;
}

.section-prestations__card,
.section-prestations__card img {
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}

.section-prestations__card {
   display: grid;
   margin-bottom: 3rem;
}

.section-prestations__card img {
   width: 100%;
   margin: 0;
   background-size: cover;
   background-position: center;
}

.section-prestations__card h3,
.section-prestations__card p,
.section-prestations__card span {
   color: var(--color-secondary);
   padding: 0 1em;
}

.section-prestations__card h3 {
   font-size: 23px;
   font-size: clamp(0.7rem, 4.2vw, 1.5rem);
   margin: 1em 0;
}

.section-prestations__card p {
   text-align: left;
   font-size: 16px;
   font-size: clamp(0.7rem, 4.2vw, 1.5rem);
   margin: 1em 0 0 0;
}

.section-prestations__card span {
   margin: 2rem 0;
   text-align: right;
   font-weight: bold;
   font-size: clamp(0.7rem, 4.2vw, 1.5rem);
}

.section-prestations__card--shadow {
   -webkit-box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
   box-shadow: 2px 2px 19px 3px rgba(0, 0, 0, 0.62);
}

@media screen and (min-width: 1024px) {
   .section-prestations {
      max-width: 1280px;
      padding: 0 1rem;
   }
   .section-prestations__card {
      flex: 1 1 calc(50% - 0.5rem); /* 50% moins la moitié du gap horizontal */
      max-width: calc(50% - 0.5rem);
      box-sizing: border-box;
   }
   .section-prestations__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
      padding: 0 2rem;
   }
}

@media screen and (min-width: 1440px) {
   .main-content {
      align-items: center;
   }
   
   .section-prestations__list {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      
   }

   .section-prestations__card {
      flex: 1 1 calc(50% - 1rem);
      max-width: calc(50% - 1rem);
      margin: 0 0 2rem 0;
   }
}
