.card_presta, .card_presta img {
    border-top-left-radius : 30px;
    border-top-right-radius : 30px;
}

.card_presta {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 3rem 0;
    padding-bottom: 2em;
}

.card_presta img {
    width: 100%;
    margin: 0;
    background-size: cover;
    background-position: center;
}

.card_presta h3, .card_presta p, .card_presta span {
    color: var(--color-secondary);
    padding: 0 1em;
}

.card_presta h3 {
    font-size: 23px;
    font-size: clamp(.7rem, 4.2vw, 1.5rem);
    margin: 1em 0;
}

.card_presta p {
    text-align: left;
    font-size: 16px;
    font-size: clamp(.7rem, 4.2vw, 1.5rem);
    margin: 1em 0 0 0;
}

.card_presta span {
    margin-top: 1rem;
    text-align: right;
    font-weight: bold;
    font-size: clamp(.7rem, 4.2vw, 1.5rem);
}

@media screen and (min-width: 600px) {
   .card_presta p {
      
   }
}

@media screen and (min-width: 768px) {
   .card_presta p {
      
   }
}