a.cta-btn {
   display: flex;
   gap: 1rem;
   padding: 1rem 2rem;
   font-size: 20px;
   border-radius: 20px;
   color: #333;
   text-transform: none;
   transition: background-color 0.3s ease;
}

.cta-btn span {
   margin: 0;
}

.cta-btn svg {
   width: 60px;
   height: auto;
}

.cta-text {
   display: none;
   font-weight: bold;
}

.pictocalendar path {
   fill: var(--fill-cta-primary);
}

@media screen and (min-width: 600px) {
   .cta-btn svg {
      width: 35px;
   }
}

@media screen and (min-width: 1024px) {
   .header-cta {
      justify-content: flex-end;
   }

   .cta-header a.cta-btn {
      padding: 0;
   }
   .cta-btn svg {
      width: 40px;
      margin: 0;
   }
}
