/* .separator-title {
  text-align: center;
  position: relative;
  margin: 3rem 0;
  color: black;
}

.separator-title::before,
.separator-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ccc;
}

.separator-title::before {
  left: 0;
}

.separator-title::after {
  right: 0;
}
 */