body.active-navbar {
    overflow-y: hidden;
}

.btn-navbar {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.navbar, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgb(0, 0, 0, .4);
}

.navbar {
    width: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    animation: .3s ease-out 0s 1 slideInFromLeft; /*duration | timing-function | delay |
    iteration-count | direction | fill-mode | play-state | name*/
    /* transition: 1s;*/
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.navbar-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    line-height: 1.4;
    padding: 0;
    border-radius: 3px;
}

.navbar-close {
    display: flex;
    align-items: flex-start;
}

.navbar-close button {
    padding: 1rem;
    border: 0;
    cursor: pointer;
    background-color: var(--bg-primary);
}

.navbar-close button svg {
    width: 60px;
}

.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    background-color: var(--bg-primary);
}

.navbar li {
    width: 100%;
    color: var(--color-secondary);
    padding: 1em;
    text-align: left;
    cursor: pointer;
}

.navbar-content li:hover {
    /* background-color: #a8a5a5; */
    background-color: rgba(0, 0, 0, 0.04);
    background-image: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.04),
        transparent
    );
}

.navbar ul li:active,
.navbar ul li.active {
    /* background-color: #8fc3d3; */
    background-color: #a8a5a5;
}

.navbar li a {
    color: var(--color-secondary);
    font-size: 22px;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

