main {
    width: 100%;
    color: #fff;
}
/*
main .illustration {
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
        ),
        url(./../../assets/Illustration_hp_big.png);
    background-image: url(./../../assets/Illustration_hp_big.png);
    background-size: cover;
    background-position: center;
}*/

main .description {
    background-color: #CAC0AF;
}

main .description h2 {
    color: #666;
    padding: 2em 0 1em 0;
    font-size: 24px;
}

.img_salon {
    height: 347px;
    background-image: url('./../../assets/salon17.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-bottom: 2em;
}

main .description p {
    text-align: left;
    font-size: 16px;
    color: #000;
    padding-bottom: 2em;
    line-height: 25px;
}

main .prestation {
    background-color: #fff;

}

main .prestation h2 {
    color: #666;
    font-size: 32px;
    line-height: 28px;
    margin: 1em 0;
}