.navigation {
    /* width: 80%; */
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1e1e1e;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.navigation, .fade.out {
    transform: translateX(-306px);
}

.fade,
.fade.out {
    transition-duration: .3s;
}

.fade {
    transform: translateX(0);
}

.navigation ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navigation li {
    width: 100%;
    color: #fff;
    padding: 1em;
    text-align: left;
}

.navigation li:hover {
    background-color: #8fc3d3;
    background-image: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.04),
        transparent
    );
}

.navigation li:active,
.navigation li.active {
    background-color: #8fc3d3;
}

.navigation li a {
    color: #fff;
    font-size: 22px;
}

