.navigation {
    isplay: none;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1e1e1e;
    width: 100%;
    height: 400px;
    z-index: 2;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navigation li {
    width: 100%;
    color: #fff;
    padding: 1em;
}

.navigation li:hover {
    background-color: #8FC3D3;
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

.navigation li:active, .navigation li.active {
    background-color: #8FC3D3;
}

.navigation li a {
    color: #fff;
    font-size: 22px;
}