.navigation {  
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1e1e1e;
    z-index: 2;

    -webkit-animation: slide-top 0.5s linear forwards;
            animation: slide-top 0.5s linear forwards;
}

.navigation ul li.active {
    animation:  0.5s linear;    
}

.navigation ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navigation li {
    width: 100%;
    color: #fff;
    padding: 1em;
    text-align: left;
}

.navigation li:hover {
    background-color: #8FC3D3;
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

.navigation li:active, .navigation li.active {
    background-color: #8FC3D3;
}

.navigation li a {
    color: #fff;
    font-size: 22px;
}