.section-presentation.salon {
   display: flex;
   align-items: center;
   width: 100%;
   height: 6rem;
   background-color: var(--color-tertiary);
}

.section-presentation.salon h1 {
   font-size: clamp(1.563rem, 1.295rem + 1.34vw, 2.5rem);
   color: #fff;
}

.section-salon {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
}

.salon-description {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   align-items: center;
}

.salon-img {
   display: flex;
   width: 240px;
}

.salon-img img {
   width: 100%;
   height: auto;
   object-fit: contain;
}

.salon-text {
   width: 80%;
   text-align: left;
}

.section-salon h2 {
   font-size: clamp(1.25rem, 1.036rem + 1.07vw, 2rem);
}

.section-salon-gallery {
   width: 100%;
   max-width: 1024px;
   margin-top: 2rem;
}

@media screen and (min-width: 600px) {
   .salon-description {
      flex-direction: row;
      align-items: center;
      gap: 1rem;
      width: 90%;
      max-width: 800px;
   }

   .salon-text {
      width: 70%;
      text-align: left;
   }
}
