.homepage-video video {
   width: 100%;
}

main .description {
   background-color: var(--bg-primary);
}

main .description h2 {
   color: var(--color-secondary);
   padding: 2em 0 1em 0;
   font-size: 24px;
}

.img_salon {
   width: 70%;
   height: 220px;
   background-image: url("./../../assets/salon17.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 5px;
   margin-bottom: 2em;
}

main .description p {
   text-align: left;
   font-size: 16px;
   color: #000;
   padding-bottom: 2em;
   line-height: 25px;
}

.section-prestations {
   background-color: #fff;
}

.section-prestations h2 {
   color: var(--color-secondary);
   font-size: 32px;
   line-height: 28px;
   margin: 1em 0;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
   .prestation-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
   }
   .homepage-video video {
      width: 80%;
   }
}
