.section-video h1 {
    position: absolute;
    z-index: -99999;
    top: -99999px;
    left: -99999px;
    width: 0px;
}

.section-video {
   width: 100%;
   max-width: 800px;
   height: auto;
}

.section-video video {
   width: 100%;
   max-width: 1024px;
}

@media screen and (min-width: 1440px) {
   .section-video video {
      max-width: 1024px;
   }
}
