.footer-block {
   width: 100%;
   max-width: 500px;
   background-color: #fff;
   border-radius: 20px;
   padding: .8rem;
   font-size: 10px;
}

.footer-block a {
   text-decoration: underline;
}

.footer-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   width: 100%;
   max-width: 1440px;
   padding: 2rem 2rem 2rem 2rem;
   background-color: var(--bg-tertiary);
}

.footer-container h2 {
   display: flex;
   line-height: 2;
   font-size: var(--font-size-footer);
   border-bottom: 1px solid var(--color-secondary);
}
.footer-container a:hover {
   text-decoration: underline;
}

.footer-contact,
a.btn-phone,
.adress-text span,
.email-text span {
   color: #000;
}

.footer-contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0 2rem;
}

.footer-contact-infos {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   padding: 1rem 0;
}

a.btn-phone,
.footer-adress,
.footer-email {
   padding: 0 2rem;
}

footer a.btn-phone {
   display: flex;
   border-radius: 15px;
   text-transform: none;
   font-size: 15px;
   padding: 0.5rem 2rem;
   border: 1px solid var(--bg-button-primary);
   text-decoration: none;
   background-color: #fff;
   transition: background-color 0.3s ease;
}

.footer-contact-infos .btn-phone svg {
   width: 40px;
   fill: #000;
}

.phone-text {
   font-size: 14px;
   font-weight: 600;
   color: #fff;
}

.footer-container .phone-text {
   text-decoration: none;
}

.footer-adress,
.footer-email {
   display: flex;
   align-items: center;
   gap: .5rem;
   font-size: 12px;
   color: #333;
}

svg.icon-location,
svg.icon-email {
   font-size: 2.5rem;
   color: #000;
}

.adress-text span,
.email-text span {
   display: block;
   line-height: 1.4;
}

.footer-infos-pratiques {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.footer-opening-hours,
.footer-appointment-info {
   text-align: left;
   font-size: 14px;
}

.footer-social-links {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.footer-block.footer-social-links {
   padding: 0;
}

.footer_fb,
.footer_insta,
.link-facebook svg.icon-facebook,
.link-instagram svg.icon-instagram {
   fill: #000;
}

.footer_fb,
.footer_insta {
   transition: fill 0.3s ease;
}

.icon-facebook,
.icon-instagram {
   font-size: 3rem !important;
   transition: fill 0.3s ease;
}

.horaires,
.detail-prestations {
   display: flex;
   flex-direction: column;
   margin: 1rem 0 0 0;
}
.horaires p,
.detail-prestations p {
   width: 100%;
   text-align: left;
}

.plan-de-site {
   display: flex;
   flex-direction: column;
}

.plan-de-site ul {
   display: flex;
   flex-wrap: wrap;
   gap: .2rem;
}

.plan-de-site ul,
.legal-links ul,
.copyright {
   text-align: left;
}

.legal-links {
   display: flex;
   justify-content: center;
}

.legal-links ul {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 5px;
}

.copyright {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: .5rem;
}

@media screen and (min-width: 768px) {
   .footer-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: stretch;
      gap: 20px;
   }
   .grid > div {
      aspect-ratio: 1 / 1;
   }
   .footer-block {
      justify-content: center;
      max-width: none;
   }
}

@media screen and (min-width: 1024px) {
   .footer-container {
      grid-template-columns: 1fr 1fr 1fr;
   }
}
