footer {
   width: 100%;
   max-width: 1440px;
   background-color: var(--bg-tertiary);
   display: flex;
   flex-direction: column;
}

footer h2 {
   display: flex;
   margin: 1em 0;
   line-height: 2;
   font-size: var(--font-size-footer);
   border-bottom: 1px solid var(--color-secondary);
}

.footer-container a:hover {
   text-decoration: underline;
}

.footer-container {
   display: flex;
   flex-direction: column;
   padding: 0 2rem;
}

.footer-contacts,
a.btn-phone,
.adress-text span,
.email-text span {
   color: #000;
}

.footer-contacts {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem 2rem;
}

.footer-contacts-infos {
   display: flex;
   flex-direction: column;
   align-items: center;
}

a.btn-phone,
.footer-adress,
.footer-email {
   padding: 1rem 2rem;
   gap: 1rem;
}

footer a.btn-phone {
   display: flex;
   background-color: var(--bg-button-primary);
   border-radius: 15px;
   text-transform: none;
   transition: background-color 0.3s ease;
   font-size: 15px;
   padding: 0.5rem 2rem;
}

.btn-phone svg {
   width: 40px;
   fill: #ffffff;
}

.phone-text {
   font-size: 14px;
   font-weight: 600;
   color: #fff;
}

.footer-adress,
.footer-email {
   display: flex;
   align-items: center;
   font-size: 14px;
   color: #333;
}

svg.icon-location,
svg.icon-email {
   font-size: 2.5rem;
   color: #000;
}

.adress-text span,
.email-text span {
   display: block;
   line-height: 1.4;
}

.footer-social-links {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin-bottom: 1rem;
}

.footer_fb,
.footer_insta,
.link-facebook svg.icon-facebook,
.link-instagram svg.icon-instagram {
   fill: #000;
}

.footer_fb,
.footer_insta {
   transition: fill 0.3s ease;
}

.icon-facebook,
.icon-instagram {
   font-size: 3rem !important;
   transition: fill 0.3s ease;
}

.horaires, .detail-prestations {
   display: flex;
   flex-direction: column;
   margin: 1rem 0 0 0;
}
.horaires p, .detail-prestations p {
   width: 100%;
   text-align: left;
}

.plan-de-site {
   display: flex;
   flex-direction: column;
   margin: 2rem 0 0 0;
}

.plan-de-site ul, .legal-links ul, .copyright {
   text-align: left;
}

.plan-de-site li {
   display: flex;
    flex-direction: column;
    margin: 0 0 .5rem 0;
    align-items: flex-start;
}

.legal-links {
   display: flex;
   flex-direction: column;
   margin: 2rem 0 1rem 0;
}