@font-face {
   font-family: "Source Serif Pro";
   src: url("./assets/fonts/source-serif-pro/SourceSerifPro-Regular.otf")
      format("opentype");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Source Serif Pro";
   src: url("./assets/fonts/source-serif-pro/SourceSerifPro-Bold.otf")
      format("opentype");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Sifonn Pro";
   font-style: normal;
   font-weight: normal;
   src:
      local("Sifonn Pro"),
      url("./assets/fonts/sifonn-pro/SIFONN_PRO.woff")
      format("woff");
}

*,
::before,
::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

body {
   min-height: 100vh;
   -webkit-font-smoothing: antialiased;
   font-size: 1rem;
   line-height: 1.6;
   background-color: #fff;
   color: #222;
}

a {
   color: inherit;
}

img,
picture,
video,
canvas,
svg {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
   color: inherit;
}

:root {
   --color-primary: #8fc3d3; /* nouvelle 157CA4, ancienne 8fc3d3 */
   --color-secondary: #555;
   --color-tertiary: #1373a3; 
   --bg-primary: #d9d9d9; /*#cac0af*/
   --bg-secondary: #5a7f9c;
   --bg-tertiary: #e4e6ec;
   --bg-button-primary: #1373a3;
   --fill-cta-primary: #0f0f0f;
   --navbar-picto: #1e1e1e;
   --font-size-text: clamp(1rem, 0.946rem + 0.27vw, 1.188rem);
   --font-size-h1: clamp(1.5rem, 1.33rem + 0.85vw, 1.875rem);
   --font-size-h2-hp: clamp(1.5rem, 1.33rem + 0.85vw, 1.875rem);
   --font-size-h3-hp: clamp(1.25rem, calc(2vw + 0.5rem), 2rem);
   --font-size-footer: clamp(1.25rem, calc(2vw + 0.5rem), 2rem);
   --min-width-resolution: 320px;
   --color-form-error: #dc2626;
   --color-form-border: #d1d5db;
}

#root {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   min-width: var(--min-width-resolution);
   max-width: 1280px;
   margin: 0 auto;
   text-align: center;
}

h1,
h2,
h3 {
   width: 100%;
   font-weight: normal;
}

h2 {
   font-size: var(--font-size-h2);
}

h3 {
   font-size: var(--font-size-h3-hp);
}

ul {
   list-style-type: none;
}

.main-content {
   display: flex;
   flex-direction: column;
   width: 100%;
   margin-top: 5rem;
   align-items: center;
}
