img.logo {
   width: 50px;
   height: auto;
}

.site-header {
   position: fixed;
   top: 0;
   left: 50% !important;
   transform: translateX(-50%);
   display: flex;
   width: 100%;
   max-width: 1280px;
   height: 5rem;
   background-color: #fff !important;
   z-index: 10;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 5rem;
   min-height: 5rem !important;
}

.site-header .logo {
   height: 60px;
}

.header-mobile li {
     transition: background-color 0.3s ease;

}

.header-mobile li:hover {
   background-color: #9ac9d7;
}

.header-mobile a.active {
   background-color: var(--color-primary);
   color: #fff;
}

.header-desktop {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff;
}

.header-desktop ul {
   display: flex;
   gap: 1.5rem;
   list-style: none;
   margin: 0;
   padding: 0;
}

.header-desktop li {
   display: flex;
   align-items: center;
}

/* .header-desktop li:hover {
   background-color: #d3eaf2;
} */

.header-desktop a {
   color: #333;
   text-align: center;
   padding: 0;
   white-space: nowrap;
}

.header-desktop a.active {
   color: var(--color-primary);
   font-weight: 600;
}

.header-desktop a.active:after {
   transform: scaleX(1);
}
.header-desktop a:after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -4px;
   display: inline-block;
   width: 100%;
   height: 2px;
   background: var(--color-primary);
   transform: scaleX(0);
   transform-origin: left;
   transition: transform 0.3s;
}

.icon-calendar {
   --fill-cta-primary: #555;
}

/* nav */
.nav-link:hover {
   background-color: transparent !important;
}

.icon-menu {
   fill: #555 !important;
   font-size: 30px !important;
}

.header-modal-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 1rem;
   padding: 1rem 0;
}

/*divider*/

.divider {
   display: flex;
   align-items: center;
   text-align: center;
   width: 100%;
   margin: 30px 0;
}

.divider::before,
.divider::after {
   content: "";
   flex: 1;
   border-bottom: 1px dashed #ccc;
}

.divider:not(:empty)::before {
   margin-right: 0.75em;
}

.divider:not(:empty)::after {
   margin-left: 0.75em;
}

.divider span {
   color: #666;
   font-size: 14px;
   font-family: sans-serif;
}

/*fin divider*/

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1024px) {
   
}
