a.phone-btn {
   display: flex;
   gap: 1rem;
   padding: 1rem 2rem;
   background-color: var(--bg-button-primary);
    color: #ffffff;
   font-size: 20px;
   border-radius: 20px;
   text-transform: none;
   transition: background-color 0.3s ease;
}
a.phone-btn svg {
   width: 40px;
   height: auto;
   fill: #ffffff;
}

a.phone-btn .cta-text {
   display: inline-block;
}

.call-button:hover {
   background-color: #218838;
}
