.container {
    max-width: 650px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .accordion .title-content {
    display: flex;
    align-items: center;
  }
  
  .accordion .title-content span {
    border-radius: 50%;
    padding: .5em;
    background-color: #8FC3D3;
    line-height: 13px;
    margin-right: 1em;
  }

  .accordion .title-content h2 {
    font-size: 18px;
  }

  .accordion, .wrapper {
    border-radius: 8px;
  }
  
  .wrapper {
    background-color: #D9D9D9;
    margin-bottom: 1em;
    overflow: hidden;
  }
  
  .wrapper .title-container {
    width: 100%;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .titre-container.active {
    color: #1db954;
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
  }
  
  .wrapper .title-container:hover {
    background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
  }
  
  .wrapper .arrow {
    font-size: 2rem;
    transition: .5s ease-in-out;
  }
  
  .arrow.active {
    rotate: 180deg;
    color: #1db954;
  }
  
  .wrapper .text-container {
    transition: height .7s ease-in-out;
  }
  
  .wrapper .text-content {
    padding: 1rem 0;
    font-size: 16px;
    font-style: italic;
  }

  .text-container .text-content {
    margin: 0;
  }