.container {
    max-width: 650px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accordion .title-content {
    display: flex;
    align-items: center;
}

.accordion .title-content span {
    border-radius: 50%;
    padding: 0.5em;
    background-color: #8fc3d3;
    line-height: 13px;
    margin-right: 1em;
}

.accordion .title-content h2 {
    font-size: 18px;
}

.accordion,
.wrapper {
    border-radius: 8px;
}

.wrapper {
    background-color: #d9d9d9;
    margin-bottom: 1em;
    overflow: hidden;
}

.wrapper .title-container {
    width: 100%;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.titre-container.active {
    color: #1db954;
    background-image: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.04),
        transparent
    );
}

.wrapper .title-container:hover {
    background-image: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.04),
        transparent
    );
}

.accordion .arrow {
    font-size: 2rem;
    transition: 0.5s ease-in-out;
}

.accordion .arrow.active {
    rotate: 180deg;
    color: #1db954;
}

.wrapper .text-container {
    transition: height 0.7s ease-in-out;
}

.wrapper .text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 1rem 0;
    text-align: left;
    font-size: 16px;
    color: var(--color-secondary);
}

.wrapper .text-content ul.decimal {
    list-style-type: decimal;
}

.wrapper .text-content ul.disc {
  list-style-type: disc;
  margin-left: 1rem;
}

.wrapper .text-content li span {
  font-weight: bold;
}

.wrapper .text-content li {
  margin: 1rem 0;
}

.text-container .text-content {
    margin: 0;
}
