.opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opinion_stars_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.opinion_stars {
    display: flex;
    list-style-type: none;
}

.opinion_stars li {
    margin-right: 16px;
}

.opinion_stars li svg {
    width: 16px;
}

.opinion_date {
    font-style: italic;
    color: #666;
}

.opinions h2 {
    margin-top: 1em;
    font-size: 32px;
}

.opinions h2, .opinions p {
    color: #666;
}

.opinion_name {
    display: flex;
    margin-bottom: 1em;
}